<div *ngIf="iproducts">
  <table  id="list" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let lst of iproducts.Registers'>
        <td>{{lst.Email}}</td>
        <td>{{lst.Password}}</td>
        <td>
          <button type="button" (click)="edit(lst.Email)" class="btn btn-default">Edit</button>
          <button type="button" (click)="delete(lst.Email)" class="btn btn-default">Delete</button>
        </td>
      </tr>
  </table>
</div>